.d-card-comment {
    width: 960px;
    height: 74px;
    background-color: var(--d-color-bg-tertiary);
    border-radius: 12px;
    border: 1px solid var(--d-color-bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    align-items: center;
}

.d-card-comment-text {
  color: var(--d-color-font-secondary);
  font-size: 14px;
  line-height: 20px;
}

.d-card-comment-footer {
  font-size: 16px;
  color: #607D8B;
  font-weight: 400;
}