header{
    padding: 0 20px;
    background-color: var(--d-color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1{
    color: var(--d-color-font-tertiary);
    font-size: 24px;
}
