@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --d-color-bg-primary: #fff;
  --d-color-bg-secondary: #3c9af0;
  --d-color-bg-tertiary: ##5E5E5E;
 

  --d-color-font-primary: ##5E5E5E;
  --d-color-font-secondary: #3C9AF0;
  --d-color-font-tertiary: #FFFFFF;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--d-color-bg-primary);
}

main {
  padding: 0 20px;
}

.d-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}