body {
    margin: 0;
}

h1,
h2 {
    color: blue;
}

h1:hover {
    color: aqua;
    cursor: pointer;
}

p {
    color: green;
}

.cor-laranja {
    color: orange;
}

.cor-laranja:hover {
    color: rgb(224, 200, 155);
}

.card img {
    width: 200px;
    height: 200px;
}